html{
  width:100%;
  height:100%;   
  background-color: #05eaa0;
  background-image: linear-gradient(315deg, #993269 0%, #e82a5c 50%, #e85f5f 99%);
}

body{
  height:100%;
  width:100%;
  background:transparent;
  overflow-y:hidden; 
}

h1,h2,h3,h4,h5,h6,p,li{  
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.08);
  border: solid 5px transparent;
  border-radius:6px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.2);
  border: solid 5px transparent;
  border-radius:6px;
}

#overlay{
  position:absolute;
  height:100%;
  width:100%;
  background:radial-gradient(circle at 50% 0,
        rgba(237,245,209,1),
        rgba(237,245,209,0));
  mix-blend-mode: overlay;
  opacity: 0.0;
  z-index: 4;
  pointer-events:none;
}

body #contain{  
  height:100%;
  margin:0% 20%;
  padding:5% 0%;
  width:60%;
  background:transparent;
}

body #ui{
  background:#252529;
  min-height:400px;
  height:100%;
  width:100%;
  position:relative;
  display:flex;
  flex-wrap: nowrap;
  border-radius:3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ui:hover {
  /*
  box-shadow: 
    0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22),
    inset 0 32px 30px -30px rgba(255, 248, 235, 0.5);
  box-shadow: 
    0 19px 38px rgba(0,0,0,0.30), 
    0 15px 12px rgba(0,0,0,0.22); 
  box-shadow: 
    0 100px 60px -80px rgba(0,0,0,0.45), 
    0 4px 8px rgba(0,0,0,0.1), 
    inset 0 8px 6px -6px rgba(255, 248, 235, 0.25),
    inset 0 -2px 2px -2px rgba(0, 0, 0, 0.1)
  background: linear-gradient(#3a4a5a, #1f1e28);
  background-image: linear-gradient(315deg, #007cae 0%, #05eaa0 99%);
  */

}

#ui > div{
  flex-direction: column;
  height:100%;
}

#header{
  width:220px;
  background:#37445c;
  flex-shrink:0;
  border-radius:3px 0px 0px 3px;
  padding:32px 40px;
  position:relative;
}

#header #icon{
  height:64px;
  width:64px;
  vertical-align: middle;
  margin:auto;
  display:block;
  margin-bottom:12px;
}

#name{
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin:auto;
}

#tag{
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 9px;
  margin: 12px auto;
}

#name span{
  font-weight: 400;
}

#skillHold{
  margin:50px auto auto;
}

#skillHold h4{
  font-size:12px;
  font-weight:bold;
  margin-bottom:8px;
  color: rgba(255, 255, 255, 0.35);
}

#skillHold ul{
  list-style-type: none;
  padding-left:0px;
}

#skillHold li{
  margin-bottom:10px;
  vertical-align: middle;
  display:inline-block;
}

#skillHold li p{
  font-size:12px;
  vertical-align: middle;
  display:inline;
  color: rgba(255, 255, 255, 0.75);
}

#skillHold li img{
  width:18px;
  height:18px;
  margin-right:8px;
}

#header #social{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align:center;
  padding:20px;
}

#social i{
  color:#fff;
  opacity:0.5;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin:10px 15px;
}

#social i:hover{
  opacity:1;
}

#center{  
  flex-grow:1;
  background:#f0f0f4; 
  overflow-y:hidden;  
  position:relative;
  padding-bottom:82px;
  border-radius:0px 3px 3px 0px;
}

#work{
  flex-grow:1;
  overflow-y:scroll; 
  padding:40px 20px 0px 20px;
  height:100%;
}

#work .row > div{
  padding:20px 20px 30px;
  border-bottom:1px #ccc solid;
}

#work .row > div:first-child{
  text-align:center;
  padding:60px 0px;
}


#work .row > div:last-child{
  padding-bottom:10px;
  border:none;
}

.pieceHold{
  display:flex;
  flex-wrap: nowrap;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width:100%;
}

.pieceHold img{
  width:100%;
}

.main{
  flex:120;
}

.main img{
  border-radius:2px 0px 0px 2px;
}

.main:not(:last-child){  
  border-right:1px #ddd solid;
}

.main:only-child img{  
  border-radius:2px;
}

.side3{
  flex:40;
}

.side4{
  flex:30;
}

.side5{
  flex:24;
}

.sideFlex{
  display:flex;
  flex-wrap: nowrap;
  flex-direction:column;
}

.sideHold{
  flex: 1;
}

.sideHold + .sideHold {
  border-top: solid 1px white;
}

.sideHold:first-child{
  border-radius:0px 2px 0px 0px;
}

.sideHold:last-child{
  border-radius:0px 0px 2px 0px;
}

#work .pieceHold:hover{

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#work img{
}

#work .row h4{
  margin:10px 0px 5px;
  font-size:20px;
  font-weight: bold;
}

#work .row h6{
  font-size:10px;
  color:#444;
  margin:0px 0px 20px;
}

#chatContain{
  position:absolute;
  padding:20px;
  bottom:0;
  left:0;
  right:0;
  background:#f0f0f4; 
}

#chat{
  border-radius:5px;
  background:#fff;
  padding:12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor:text;
}

#chat h5{
  font-size:15px;
  margin:0;
  opacity:0.5;
}

